@use "variables";
@use "mixins";

.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &_text * {
        margin: 0;
        line-height: 2rem;
    }

    &_grid {
        &-pets {
            @include mixins.grid(4);
        }

        &-knowledge {
            @include mixins.grid(3);
        }
    }

    &-explore {
        flex-direction: row;
        justify-content: space-between;
        padding: 4rem 6rem 0 2rem;
        background-color: variables.$beige;
        border-radius: 2rem;
    }

    & .explore {
        &_image {
            width: 50%;
        }

        &_right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        &_title {
            margin: 0;
            font-size: 3.5rem;
            font-weight: 700;
            text-align: right;
            color: variables.$blue;
        }

        &_subtitle {
            margin: 0;
            font-size: 2.5rem;
            font-weight: 600;
            text-align: right;
            color: variables.$blue;
        }

        &_text {
            margin: 0;
            text-align: right;
        }

        &_links {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: end;
        }
    }
}
