// color variables
$seablue: hsl(197, 100%, 45%);
$blue: hsl(205, 100%, 17%);
$beige: hsl(39, 86%, 91%);
$white: hsl(0, 0%, 99%);
$lightgrey: hsl(0, 0%, 94%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 1%);