// CLI compile command from ROOT
// sass scss/main.scss style.css --watch --style compressed

@use "variables";
@use "mixins";
@use "navbar";
@use "header";
@use "sections";
@use 'pets';
@use 'knowledge';
@use 'footer';

* {
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    font-size: 13px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    // position: relative;
    height: 100dvh;
    background-color: variables.$white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.18rem;
    font-weight: 500;
}

h5 {
    font-size: 1.08rem;
}

p {
    font-size: 1rem;
}

.button {
    &-primary {
        @include mixins.button(variables.$white, variables.$blue);
    }

    &-secondary {
        @include mixins.button(variables.$blue, transparent);
        box-shadow: inset 0px 0px 0px 1.5px variables.$blue;
    }
}

main {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
